* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 2px solid black;
}


:root {

    /* Colors */

    --Cyan-600: #4D96A9;
    --Cyan-300: #8FE3F9;
    --Purple-600: #855FB1;
    --Purple-300: #D9B8ff;
    --Slate-900: #28283D;
    --Slate-600: #87879D;
    --Slate-300: #D1D1DF;
    --White: #FAFAFA;
}

/* Preset text settings */

.text-preset-1 {
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0px;
}

.text-preset-2 {
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0px;
}

.text-preset-3 {
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 4px;
}

.text-preset-4 {
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0px;
}

.text-preset-5 {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
}


body {
    font-family: "Red Hat Display", serif;
    background-color: var(--White);
    max-width: 1440px;
    margin: 0px auto;
}

//header {
margin-top: 80px;
}

.logo {
    margin-top: 80px;
}


.section-one {
    margin-top: 64px;
    justify-content: space-between;


    //padding: 64px 0 64px 0;

}


.image-left img {
    margin-left: -35px;



}

.image-right img {
    margin-right: -35px
}

.buttons-section {}

/* Button Styles */

.buttons-section .btn {
    margin: 0 7.5px;
}

.btn {
    height: 56px;
    color: var(--White);
    border: none;
    font-weight: 800;
    font-size: medium;
}

.button-long {
    width: 193px;
    min-width: 193px;
}

.button-short {
    width: 161px;
}

.button-blue {
    background-color: var(--Cyan-600);
}

.button-blue:hover {
    background-color: #71C0D4;
}

.button-purple {
    background-color: var(--Purple-600);
}

.button-purple:hover {
    background-color: #B18BDD;
}

.btn span {
    color: var(--Cyan-300);
}



.group-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group-chat .text {
    max-width: 400px;
    color: var(--Slate-600);
    text-align: center;
    margin: 32px 0;

}


h1 {
    font-weight: 900;
    color: var(--Slate-900);
    text-align: center;
}


.line-and-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    border-color: var(--Slate-300);
    height: 80px;
    width: 1px;
    color: #28283D;
    background-color: var(--Slate-300);

}

.line-1 {
    margin: 144px auto 0 auto;

}

.circle {
    width: 56px;
    height: 56px;
    background-color: var(--White);

    border-radius: 50%;
    border: 1px solid var(--Slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Slate-600);
    font-weight: 900;

}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 72px;


}

.image-gallery {
    max-width: 1120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 64px auto;
}

.image-gallery img {
    max-width: 256px;
    border-radius: 7px;

}

.feature-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 544px;

}

.title {
    max-width: 445px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overline {
    text-transform: uppercase;
    color: var(--Cyan-600);
    font-weight: 900;
}

.section-two h2 {
    color: var(--Slate-900);
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
}

.text-2 {
    color: var(--Slate-600);
    text-align: center;
}

.line-2 {
    margin: 0 auto 0 auto;
}

.circle-2 {
    margin-bottom: -28px;
}


footer {

    display: flex;
    justify-content: center;
    padding: 112px;
    width: 100%;

    /* Background settings */
    background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(assets/desktop/image-footer.jpg);
    background-size: cover;
    background-position: center;
    //background-repeat: repeat;



}

.footer-info-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1120px;

}

footer h2 {

    font-weight: 900;
    max-width: 445px;

}

footer h2,
.footer-text {
    color: var(--White);
    text-align: left;
}

.footer-text {
    max-width: 355px;
}

footer .btn {
    //margin-top: 20px;

}


@media (max-width: 1300px) {
    .buttons-section {
        display: flex;
    }

    .button-short {
        width: 161px;
    }
}





@media (max-width: 1068px) {

    .section-one {
        justify-content: center;
        flex-wrap: wrap;

    }


    .image-left picture img {
        width: 100%;
        height: auto;
        max-width: 100%;
        margin: 0px auto;
    }


    .image-right {
        display: none;
    }

    .group-chat h1 {
        font-size: 48px;
    }


    .buttons-section {
        display: flex;
        flex-direction: row;
        min-width: 371px;
    }

    .button-long {
        min-width: 193px;
    }

    .button-short {
        max-width: 161px;
    }


    .image-gallery {
        max-width: 680px;
    }

    .image-gallery img {
        max-width: 152px;
    }



    .footer-info-box {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }


    footer h2 {
        font-weight: 900;
        max-width: 515px;
    }

    footer h2,
    .footer-text {
        text-align: center;
        color: var(--White);
    }

    .footer-text {
        max-width: 504px;
        margin: 25px;
    }

    footer .btn {
        //margin-top: 20px;
    }

    .button-purple {
        min-width: 193px;
    }

    footer {
        padding: 64px 32px;
        /* Less padding on smaller screens */
    }
}

@media (max-width:480px) {

    .group-chat h1 {
        font-size: 32px;
        margin-top: 48px;
    }


    /* CHANGE THIS CODE BELOW!!! */
    /* CHANGE THIS CODE BELOW!!! */
    /* CHANGE THIS CODE BELOW!!! */
    /* CHANGE THIS CODE BELOW!!! */
    .group-chat p {
        max-width: 100px;

    }


}

//overflow-wrap: break-word;